# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Output
dist/
build/

# Arquivos sensíveis ou gerados
*.pem
*.key
*.crt
*.cert
*.p12

# Banco de dados local / dumps
*.sqlite
*.db
dump.rdb
*.tgz
*.csv

# Arquivos do Git
*.orig

# Se estiver usando o PM2 ou outro process manager
pids/
*.pid
*.seed

# Arquivos de testes ou mocks temporários
__mocks__/
coverage/
*.test.js
